*{
    padding: 0px;
    margin: 0px;
}

#top-bar{
    height: 80px;
    padding-bottom: 1px;
    background-color: darkgray;
    display: flex;
}

#SOA-logo1{
    height: 45px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 12px;
    display: inline;
   
}   


h1{
    padding-top: 2px;
    font-family: "Bungee", sans-serif;
    font-size: 30px;
    color: white;
    display: flex;
    margin-right: 820px;
}

#list{
    padding: 20px 15px 12px 0px;
    height: 45px;
    float: right;
}



#options{
  display: flex;
  padding: 30px 20px 10px 100px;
}
#box{
  text-align: center;
  border-style: solid;
  border-color: black;
  height: 50px;
  width: 250px;
  margin-right: 100px;
  padding-top: 22px;
  font-size: 20px;

}
 
#wallpaper{
  padding: 30px 25px 20px 25px;
  display: inline-block;
}

.container{
  height: 100%;
  width: 100%;
  position: relative;
}
.DCA{
  position: absolute;
  top: 30%;
  left: 20%;

  font-size: 50px;
  font-family: "Tauri", sans-serif;

}
p{
  text-align: center;
}